@import url("styles/bootstrap.css");
@import url("styles/bootstrap-theme.css");

body {
  background-color: #f36c00;
  background-image: linear-gradient(#f68a28, #f36c00);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body #content {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}

body #content .content {
  position: relative;
  height: calc(100% - 55px);
  width: 100%; 
}

.absolute-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 55px;
}

.header-default {
  text-transform: uppercase;
  font-weight: 700;
}

.header-default p {
  font-size: 1.2rem;
}

.form .form-row {
  margin: 15px 0;
}

.content-main {
  position: relative;
  top: 25%;
}